<h2 class="header" style="padding: 30px; margin-bottom: 47px; font-family:c, 'Times New Roman', Times, serif; " >
  TASKS MANAGEMENT<img
    style="padding-left: 20px"
    src="img/silver-check.jpg"
    width="80px"
    height="60px"
  />
</h2>



<div  style="text-align: center">
  
  <p style="color: white; font-size: 20px">Total tasks: {{ statusAll.length }}</p>
  <p style="color: white; font-size: 20px">Pending tasks: {{ statusPending.length }}</p>
  <p style="color: white; font-size: 20px">Completed tasks: {{ statusCompleted.length }}</p>

  <form (ngSubmit)="onSubmit()" class="add">
    <label style="margin-top: 60px; "></label>
    <input
      name="newTask"
      id="newTask"
      placeholder="Add task name"
      [(ngModel)]="newValue"
      style="background-color: rgb(255, 255, 255); color: black"
    />
    @if(!submit){
    <button class="btn btn-dark" >Submit</button>
    }
    @if(submit){
    <button class="btn btn-light" >Submit</button>
    }


 <div>
  <textarea id="taskComment" placeholder="Add task details" name="textarea-name" [(ngModel)]="newComment">frv</textarea>
</div>

<p class="text text-light">{{ tempMessage }}</p>

  </form>

 

@if(!showAllTasks){
  <button
    (click)="showAll()"
    type="button"
    class="btn btn-dark"
    style="margin-left: 35px; margin-bottom: 20px"
  >
    Show all tasks
  </button>}
  @if(showAllTasks){
    <button
      (click)="showAll()"
      type="button"
      class="btn btn-light"
      style="margin-left: 35px; margin-bottom: 20px"
    >
      Show all tasks
    </button>}


@if(!showPendingTasks){
<button
  (click)="showPending()"
  type="button"
  class="btn btn-dark"
  style="margin-left: 35px; margin-bottom: 20px"
  >
  Show pending tasks
</button>}
@if(showPendingTasks){
  <button
  (click)="showPending()"
  type="button"
  class="btn btn-light"
  style="margin-left: 35px; margin-bottom: 20px"
>
  Show pending tasks
</button>
}

@if(!showCompletedTasks){
<button
  (click)="showCompleted()"
  type="button"
  class="btn btn-dark"
  style="margin-left: 35px; margin-bottom: 20px"
>
  Show completed tasks
</button>}
@if(showCompletedTasks) {
  <button
    (click)="showCompleted()"
    type="button"
    class="btn btn-light"
    style="margin-left: 35px; margin-bottom: 20px"
  >
    Show completed tasks
  </button>
}


@if(!deleteAll) {
<button
  (click)="deleteAllTasks()"
  type="button"
  class="btn btn-dark"
  style="margin-left: 35px; margin-bottom: 20px"
>
  Delete all tasks
</button>
}
@if(deleteAll) {
  <button
    (click)="deleteAllTasks()"
    type="button"
    class="btn btn-light"
    style="margin-left: 35px ; margin-bottom: 20px; "
  >
    Delete all tasks
  </button>
  }


@if(showAllTasks) {
@for (task of statusAll; track task) {


@if(task.status == 'Completed'){
  
  <h2 style="text-align: center; margin-top: 80px; ">{{ task.value }}</h2>
  <P style="text-align: center; ">TASK DETAILS: {{ task.comment }}</P>
  <p>STATUS: <span style="color: rgb(98, 167, 52);">Completed</span></p>
<div style="text-align: center; ">
  <button class="my-button-delete"  (click)="deleteTask(task.value)">Delete Task</button>
  <button class="my-button-change-status"  (click)="markPending(task.value)">Change status</button>
</div>
}


  @if(task.status == 'Pending'){
    <h2 style="text-align: center; margin-top: 80px; ">{{ task.value }}</h2>
    <P> {{ task.comment }}</P>
    <p>STATUS: <span style="color: rgb(194, 77, 77);">Pending</span></p>
  <div style="text-align: center; ">
    <button class="my-button-delete"  (click)="deleteTask(task.value)">Delete Task</button>
    <button class="my-button-change-status"  (click)="markCompleted(task.value)">Change status</button>
  </div>
  }
}
  }

      

   
@if(showPendingTasks) {
  @for (task of statusPending; track task) {
  
  <h2 style="text-align: center; margin-top: 80px; ">{{ task.value }}</h2>
  <P> {{ task.comment }}</P>
  <p>STATUS: <span style="color: rgb(194, 77, 77);">Pending</span></p>
  <div style="text-align: center; ">
    <button class="my-button-delete"  (click)="deleteTask(task.value)">Delete Task</button>
  
    <button class="my-button-change-status"  (click)="markCompleted(task.value)">Change status</button>
  </div>}
  }



  @if(showCompletedTasks) {
    @for (task of statusCompleted; track task) {
    
    <h2 style="text-align: center; margin-top: 80px; ">{{ task.value }}</h2>
    <p> {{ task.comment }}</p>
    
    <p>STATUS: <span style="color: rgb(98, 167, 52);">Completed</span></p>
    <div style="text-align: center; ">
      <button class="my-button-delete"  (click)="deleteTask(task.value)">Delete Task</button>
    
      
      <button class="my-button-change-status"  (click)="markPending(task.value)">Change status</button>
      
    </div>}
    }



    
   
    