<h1 class="header" style="padding: 14px; margin-bottom: 47px">
  TO-DO LIST777<img
    style="padding-left: 20px"
    src="img/download.jpeg"
    width="70px"
    height="50px"
  />
</h1>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="add">
  <label style="margin-right: 5px"></label>
  <input
    name="newTask"
    id="ww"
    placeholder="Add Task"
    formControlName="variable"
    style="background-color: rgb(255, 255, 255); color: black"
  />
  <button class="btn btn-dark">Submit</button>

  <p class="text text-light">{{ submitted }}</p>
</form>

<button
  (click)="showAll()"
  type="button"
  class="btn btn-dark"
  style="margin-left: 35px"
>
  Show all tasks
</button>
<button
  (click)="showPending()"
  type="button"
  class="btn btn-dark"
  style="margin-left: 35px"
>
  Show pending tasks
</button>
<button
  (click)="showComplete()"
  type="button"
  class="btn btn-dark"
  style="margin-left: 35px"
>
  Show completed tasks
</button>

@for (task of allStorage; track task) {

<h3 style="text-align: center; margin-top: 70px">{{ task }}</h3>

<p style="text-align: center">
  <button class="my-button"  (click)="deleteTask()">Delete Task</button>
</p>
}

