
.header {
text-align: center;
font-size: 40px;
background-color: rgb(4, 4, 0);
}



.add {
    margin-bottom: 50px;
    text-align: center;
}



p {
    font-family: cursive;}



.my-button {
   
font-size: 11px;
padding: 2px;
  margin-left: 10px;
  background-color: #8a1818;
  color: white;
  border: none; 
  border-radius: 30px;
  cursor: pointer;
}

.my-button-completed {
   
    font-size: 11px;
    padding: 2px;
      margin-left: 10px;
      background-color: #2d9912;
      color: white;
      border: none; 
      border-radius: 30px;
      cursor: pointer;
    }
    .my-button-pending {
   
        font-size: 11px;
        padding: 2px;
          margin-left: 10px;
          background-color: #919082;
          color: white;
          border: none; 
          border-radius: 30px;
          cursor: pointer;
        }

.my-button:hover {
  background-color: #f73333;
}
.my-button:active {
  background-color: #f89797;
}